@font-face {
  font-family: "areyouserious";
  src: url("./assets/fonts/AreYouSerious-Regular.ttf");
}
@font-face {
  font-family: "MBKCorpoS";
  src: url("./assets/fonts/MBKCorpoS.ttf");
}
@font-face {
  font-family: "InstrumentSerif-Italic";
  src: url("./assets/fonts/InstrumentSerif-Italic.ttf");
}
@font-face {
  font-family: "InstrumentSerif-Regular";
  src: url("./assets/fonts/InstrumentSerif-Regular.ttf");
}
@font-face {
  font-family: "KyoboHandwriting2020";
  src: url("./assets/fonts/KyoboHandwriting2020pdy.otf");
}
@font-face {
  font-family: "Dovemayo";
  src: url("./assets/fonts/Dovemayo_wild.ttf");
}
@font-face {
  font-family: "KyoboHandwriting2022khn";
  src: url("./assets/fonts/KyoboHandwriting2022khn.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
